{% load static %}
<!doctype html>
<html>
            <head><meta charset="utf-8"></head>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<!--            < link  rel =" arkusz stylów " href =" ścieżka/do/css/air.css " >-->
            <body>
            <img src="{% static 'couple.png' %}"/>
                <h1>{% block main_header %}
                    Bride&Groom - WeddingApp
                    {% endblock %}</h1>

                {% block content %}
                {% endblock %}

            {% block footer %}
              {% if user.is_authenticated %}
              Zalogowany: {{ user }} <a href="{% url 'logout' %}">Wyloguj</a>
              {% else %}
              <a href="{% url 'login' %}">Zaloguj się</a>
              {% endif %}
                <br>
                {{now}}
            {% endblock %}
            </body>
</html>