<!doctype html>
<html>
            <head><meta charset="utf-8"></head>
<!--            < link  rel =" arkusz stylów " href =" ścieżka/do/css/air.css " >-->
            <body>
                <h1>{% block main_header %}
                    Bride&Groom - WeddingApp
                    {% endblock %}</h1>
                <br>
                <a href="{% url 'add_bridegroom' %}">Dodaj Państwa Młodych</a><br>
                <a href="{% url 'add_guest' %}">Dodaj Gościa</a><br>
                <br>
                {% block content %}
                {% endblock %}

            {% block footer %}
              {% if user.is_authenticated %}
              Zalogowany: {{ user }} <a href="{% url 'logout' %}">Wyloguj</a>
              {% else %}
                <a href="{% url 'login' %}">Zaloguj się</a><br>
                <a href='/add_user/'> Zarejestruj się </a><br>
                <br>
              {% endif %}
            {% endblock %}
            </body>
</html>